*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition-duration: 0.3s;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Cairo', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    padding-inline: 15px;
    margin-inline: auto;
}
header{
    box-shadow: 0 0 10px #ddd;
    position: relative;
    z-index: 999;
    background-color: white;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 72px;
    margin-inline:50px;

}
header .container nav {
    height: 72px;
}
header .container nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .container nav > ul > li > a{
    text-decoration: none;
    color: black;
    height: 72px;
    display: flex;
    align-items: center;
    font-size: 18px;
    overflow: hidden;
    position: relative;
    padding: 0 30px;
    transition: var(--main-transition-duration);

}
header .container nav > ul > li > a::before{
    content: "";
    background-color: var(--main-color);
    height: 5px;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    transition: var(--main-transition-duration);
}
header .container nav > ul > li > a:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
header .container nav > ul > li > a:hover::before{
    left: 0;
}
.logo{
    color: var(--main-color);
    font-size: 26px;
    height: 72px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;

}
.landing{
    position: relative;
}
.landing::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ececec;
    position: absolute;
    top: -30px;
    left: 0;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container{
    display: flex;
    flex-direction:row ;
    height: 500px;
    padding-inline:20px ;
    margin-inline: 47px;
}
.landing .container .text{
    width: 540px;
    align-self: center;
    position: relative;
    top: -20px;
}
.landing .container .image img{
    position: relative;
    width: 600px;
    animation: image-up 5s linear infinite;
}
.landing .container .text h1{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}
.landing .container .text p{
    font-size: 23px;
    color: #666;
    line-height: 1.7;
    margin: 5px;
}

.landing .go-down{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
    color: var(--main-color);
    transition: var(--main-transition-duration);
    padding: 25px 0;
}
.landing .go-down:hover{
    color: var(--main-color-alt);
}
.landing .go-down i{
    animation: up-down 1.5s infinite;
}
header .mega-menu {
    position: absolute;
    width: 1170px;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;  
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
    
  }
header .mega-menu .iamge img{
    max-width: 100%;
}
header .mega-menu .links{
    width: 130px;
    display: flex;
    flex-wrap: wrap;

}
header .mega-menu .links li a{
    display: flex;
    width: 100px;
    display: block;
}
.main-title{
    margin: 0 auto 80px;
    border: 2px solid black;
    font-size: 30px;
    padding: 10px 20px;
    width: fit-content;
    position: relative;
    transition: var(--main-transition-duration);
    z-index: 100;
}
.main-title::before{
    content: "";
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    transition: var(--main-transition-duration);
}
.main-title::after{
    content: "";
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    transition: var(--main-transition-duration);
}
.main-title:hover::before{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover::after{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover{
    color: white;
    border: 2px solid transparent;
    transition-delay: .5s;
}

.articles{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
.articles .container{
    margin-inline: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .box{
   box-shadow:  0 2px 6px rgba(0, 0, 0, 0.187);
    border-radius: 10px;
    transition: var(--main-transition-duration);

}
.articles .box:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.187);
}
.articles .box:hover .info i{
    animation: arrow-move .5s linear infinite;
}
.articles .box img{
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}
.articles .box .content{
    padding: 20px;
}
.articles .box .info{
    padding: 20px;
    border-top: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
}
.articles .box .info a{
    color: var(--main-color);
    font-weight: bold;
}
.articles .box .info i{
    color: var(--main-color);
    font-size: 15px;
    position: relative;
    top: 5px;
}
.articles .box .content h3{
    margin: 0;
}
.articles .box .content p{
    color: #666;
}
.gallery-title{
    margin: 0 auto 80px;
    border: 2px solid black;
    font-size: 30px;
    padding: 10px 20px;
    width: fit-content;
    position: relative;
    transition: var(--main-transition-duration);
    z-index: 200;
}
.gallery-title::before{
    content: "";
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    transition: var(--main-transition-duration);
}
.gallery-title::after{
    content: "";
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    transition: var(--main-transition-duration);
}
.gallery-title:hover::before{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.gallery-title:hover::after{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.gallery-title:hover{
    color: white;
    border: 2px solid transparent;
    transition-delay: .5s;
}
.gallery{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-color: #ececec;
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-inline: 50px;
}
.gallery .box{
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.187);
}
.gallery .box .image{
    position: relative;
    overflow: hidden;
}
.gallery .box .image::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #fffcfc29;
    opacity:0;
    z-index: 2;
}
.gallery .box img{
    max-width: 100%;
    transition: var(--main-transition-duration);
}
.gallery .box .image:hover::before{
    animation: gallery-move .3s;
}
.gallery .box .image:hover img{
    transform: rotate(5deg) scale(1.1);
}
/* start feature */
.feature-title{
    margin: 0 auto 80px;
    border: 2px solid black;
    font-size: 30px;
    padding: 10px 20px;
    width: fit-content;
    position: relative;
    transition: var(--main-transition-duration);
}
.feature-title::before{
    content: "";
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    transition: var(--main-transition-duration);
}
.feature-title::after{
    content: "";
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    transition: var(--main-transition-duration);
}
.feature-title:hover::before{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.feature-title:hover::after{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.feature-title:hover{
    color: white;
    border: 2px solid transparent;
    transition-delay: .5s;
}
.feature{
    padding-top: 100px;
    padding-bottom: 100px;
}
.feature .container{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-inline: 50px;
}
.feature .container .box{
   text-align: center;
   border: 1px solid #ccc;
}
.feature .container .box .img-holder{
    position: relative;
}
.feature .container .box .img-holder::before{
    content: "";
    position: absolute;
    border-style: solid;
    bottom: 0px;
    right: 0;
    border-color: transparent transparent white transparent;
    border-width: 0px 0px 200px 357px;
    overflow: hidden;
    z-index: 1;
}

.feature .container .box img{
    max-width: 100%;
}

.feature .container .box h2{
    font-size: 40px;
    margin: auto  ;
    position: relative;
    width: fit-content;
}
.feature .container .box h2::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left:10px;
    height: 5px ;
    
    width: calc(100% - 20px);

}
.feature .container .box p{
    color: #666;
    margin: 50px 0;
    padding-inline: 10px;
    line-height: 40px;
    font-size: 20px;
}
.feature .container .box a{
    display: block;

    width: fit-content;
    margin:30px auto;
    padding: 10px 30px;
   
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    transition: var(--main-transition-duration);

}
.feature .quallity h2::after{
    background-color: red;
}
.quallity a{

    background: linear-gradient(to right, red 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border: 3px solid red ;
    color: red;
}
.quallity .img-holder::after{
    content: "";
    position: absolute;
    background-color: rgba(255, 0, 0, 0.358);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.feature .box:hover a{
    background-position: left bottom;
    color: white;
}
.time .img-holder::after{
    content: "";
    position: absolute;
    background-color: #00968764;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.time a{
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #009688;
    border: 3px solid #009688;
}
.time  h2::after{
    background-color: #009688;
}
.passion .img-holder::after{
    content: "";
    position: absolute;
    background-color: #03a8f46f;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.passion a{
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #03a9f4;
    border: 3px solid #03a9f4;
}
.passion  h2::after{
    background-color: #03a9f4;
}
/* end feature */
.testimonials-title{
    margin: 0 auto 80px;
    border: 2px solid black;
    font-size: 30px;
    padding: 10px 20px;
    width: fit-content;
    position: relative;
    transition: var(--main-transition-duration);
    z-index: 1;
}
.testimonials-title::before{
    content: "";
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    transition: var(--main-transition-duration);
}
.testimonials-title::after{
    content: "";
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    transition: var(--main-transition-duration);
}
.testimonials-title:hover::before{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.testimonials-title:hover::after{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.testimonials-title:hover{
    color: white;
    border: 2px solid transparent;
    transition-delay: .5s;
}

.testimonials{
    padding-top:100px ;
    padding-bottom: 100px;
    background-color: #ececec;
}
.testimonials .container{
    display:grid ;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-inline: 50px;
}
.testimonials .container .box{
    background-color: white;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px;
}
.testimonials .container .box .image{
    background-color: #ececec;
    padding: 8px;
    border-radius: 50%;
     position: absolute;
    top: -50px;
    right: -5px;
    transition: var(--main-transition-duration);
}
.testimonials .container .box .image img{
    width: 70px;
    
    border-radius: 50%;
}
.testimonials .container .box .content{
    
}
.testimonials .container .box .content h4{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}
.testimonials .container .box .content p{
    color: #777;
}
.rate .fas{
    color: #ffc107;
}
.testimonials .container .box:hover .image{
    transform: scale(1.1);
}
.team{
    padding-top: 100px;
    padding-bottom: 100px;

}
.team .container{
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(300px, 1fr));;
    margin-inline: 30px;
    gap: 30px;
}
.team .container .box{
    /* background-color: #ececec; */
    /* padding: 30px; */
    position: relative;
}
.team .container .box::before,
.team .container .box::after{
    content: "";
    height: 100%;
    background-color: #ececec;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 10px;
    
}
.team .container .box::before{
    width: calc(100% - 60px);
    z-index: -2;
}
.team .container .box::after{
    width: 0;
    background-color: #e4e4e4;
    z-index: -1;
    transition: var(--main-transition-duration);
}
.team .container .box:hover::after{
    width: calc(100% - 60px);
    z-index: -1;
}
.team .container .box .data{
    display: flex;
    flex-direction: row;
    padding-top:60px ;
    align-items: center;
}
.team .container .box .info{
    padding-left: 80px;
   
}
.team .container .box .info h3{
    font-size: 20px;
    color: var(--main-color);
}

.team .container .box .data .social{
    display: flex;
    flex-direction: column;
    padding-inline: 25px;
    gap: 30px;

}
.team .container .box .data .social i{
    color: #666;
    transition: var(--main-transition-duration);
}
.team .container .box .data .social i:hover{
    color: var(--main-color);
}
.team .container .box .data img{
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition-duration);
    
}
.team .container .box:hover img{
    filter: grayscale(100%);
}

.services{
    padding-top: 100px;
    padding-bottom: 100px ;
    position: relative;
    background-color: #ececec;
}
.services .container{
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(300px, 1fr));;
    gap: 30px;
    margin-inline: 50px;
}
.services .container .box{
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    /* padding: 20px; */
    text-align: center;
    position: relative;
    transition: var(--main-transition-duration);
}
.services .container .box:hover{
    transform: translateY(-10px);
}
.services .container .box::before{
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0;
    background-color: var(--main-color);
    transition: var(--main-transition-duration);
}
.services .container .box:hover::before{
    width: 100%;
}
.services .container .box i{
    display: block ;
    margin: 30px auto;
    color: #d5d5d5;
}
.services .container .box h3{
    font-size: 25px;
    color: var(--main-color);
}
.services .container .box .info{
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 50px;
    /* align-items: center; */
    overflow: hidden
}
.services .container .box .info a{
    color: var(--main-color);
    align-self: center;
    position: relative;
    right: 10px;
}
.services .container .box .info h1{
    background-color: var(--main-color);
    display: block;
    margin: 0;
    color: white;
    padding: 7px 20px;
    padding-right: 40px;
    position: relative;
}
.services .container .box .info h1::before{
    content: "";
    background-color: #d5d5d5;
    height: 200px;
    width: 35px;
    position: absolute;
    top: -20px;
    right: 0;
    transform: rotate(20deg);
}

.our-skills{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
.our-skills .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.our-skills .container .skills{

}
.our-skills .container .skills .skill{
    
}
.our-skills .container .skills .skill h3{
    position: relative;
}
.our-skills .container .skills .skill h3 span{
    position: absolute;
    right: 0;
    color: var(--main-color);
    border: 1px solid #d5d5d5;
    font-size: 15px;
    padding: 5px 7px;
    border-radius: 6px;
}
.our-skills .container .skills .skill .the-progress{
    width: 640px;
    height: 30px;
    background-color: #ececec;
    position: relative;
}
.our-skills .container .skills .skill .the-progress span{
    background-color: var(--main-color);
    height: 100%;
    position: absolute;
}

.work-steps{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-color: #ececec;
}
.work-steps .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 20px;
}
.work-steps .container .image{
    max-width: 100%;
    width: 450px;
    height: 450px;
    align-self: center;
}
.work-steps .container .info .box{
    background-color: #f6f5f5;
    border: 2px solid white;
    margin: 20px;
    padding: 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    position: relative;
}
.work-steps .container .info .box::before{
    content: "";
    background-color: #ececec;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    z-index: 233;
    transition: var(--main-transition-duration);
}
.work-steps .container .info .box:hover::before{
    width: 100%;
    height: 100%;
}
.work-steps .container .info .box .text{
    display: block;
    width: 450px;
    z-index: 333;
}
.work-steps .container .info .box .text h3{
    font-size: 25px;
    display: block;
    margin: 10px;
    margin-left: 0;
}
.work-steps .container .info .box .text p{
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
}
.work-steps .container .info .box img{
    width: 64px;
    height: 64px;
    z-index: 444;
}
.events {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
  }
.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
}
.events img {
    max-width: 450px;
}
@media (max-width: 991px) {
    .events img {
      display: none;
    }
}
.events .info {
    flex: 1;
    
}
.events .info .time {
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    justify-content: center;
    text-align: center;
}
.events .container .info .time .unit{
    display: flex;
    flex-direction: column;
    border: 1px solid #cbc7c7;
    /* padding: 10px; */
    border-radius: 8px;
}
.events .container .info .time .unit span:first-child{
    margin: 20px 10px;
    font-size: 40px;
    font-weight: bold;
    color: var(--main-color);
}
.events .container .info .time .unit span:last-child{
    margin: 0;
    border-top:1px solid #cbc7c7; ;
    padding: 10px;
}
.events .info h2{
    font-size: 30px;
    text-align: center;
}
.events .info p{
    color: #777;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    /* width: 500px; */
}
.events .container .subscribe{
    width: fit-content;
    margin: 20px auto;
    display: block;
    background-color: #f3f3f3;
    border-radius: 40px;
    position: relative;
    top: 30px;
}
.events .container .subscribe form{
    width: 600px;
    display: flex;
    gap: 30px;
    margin: 30px;
}
.events .container .subscribe form input:first-child{
    background-color: white;
    border: 0;
    padding: 20px 200px 20px 20px;
    border-radius: 40px;
}
.events .container .subscribe form input:last-child{
    padding: 20px;
    background-color: var(--main-color);
    border: 0;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    transition: .3s;
}
.events .container .subscribe form input:first-child:focus{
    outline: none;
}
.events .container .subscribe form input:first-child::placeholder{
    transition: opacity 0.3s;
}
.events .container .subscribe form input:first-child:focus::placeholder{
    opacity: 0;
}
.events .container .subscribe form input:last-child:hover{
    background-color: #1d86db;
}
/* <!-- Start Pricing --> */
.pricing{
    background-color: #ececec;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
.pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-inline: 40px;
}
.pricing .container .box{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 30px;
    text-align: center;
    z-index: 4;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.pricing .container .box .title{
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.pricing .container .popular {
    transform: translateY(-20px);
}
.pricing .container .popular .label{
    background-color: var(--main-color);
    display: block;
    padding: 5px 10px 5px 5px;
    width: 40%;
    color: white;
    font-weight:bold ;
    font-size: 20px;
    transform: rotate(90deg);
    position: absolute;
    top: 55px;
    right: 0;
}
.pricing .container .popular .label::before {
    content: "";
    background-color: white;
    width: 26px;
    height: 26px;
    right: -7px;
    top: 39%;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    transition: 0.3s;
}
.pricing .container .box:hover .label::before{
    background-color: #ececec;
}
.pricing .container .box img{
    max-width: 80px;
    display: block;
    margin: auto;
}

.pricing .container .box .price{
    display: flex;
    flex-direction: column;
}
.pricing .container .box .price span:first-child{
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
}
.pricing .container .box .price span:last-child{
    color: #777;
    margin-top: 5px;
}
.pricing .container .box ul li{
    padding:20px 15px;
    text-align: left;
    border-top: 1px solid #f1eeee;
}
.pricing .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: bold;
    color: var(--main-color);
}
.pricing .container .box a{
    display: block;
    margin: auto;
   padding: 15px 20px;
   border: 2px solid var(--main-color);
   border-radius: 7px;
   color: var(--main-color);
   margin-bottom: 40px;
   transition: 0.3s;
   font-weight: bold;
}
.pricing .container .box::before{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 50%;
    background-color: #ececec;
    z-index: -1;
    transition: 0.3s;
}
.pricing .container .box::after{
    content: "";
    position:absolute;
    bottom:  0;
    right: 0;
    width: 0;
    height: 50%;
    background-color: #ececec;
    z-index: -1;
    transition: 0.3s;       
}
.pricing .container .box:hover::before,
.pricing .container .box:hover::after{
    width: 100%;
}
.pricing .container .box a:hover{
    background-color: var(--main-color);
    color: white;
}
.stats {
    padding-top:100px;
    padding-bottom: 100px;
    position: relative;
    background-image: url("../image/stats.jpg");
    background-size: cover;
    min-height: 300px;
}
.stats::before{
    content: "";
    background-color: rgba(255, 255, 255, 0.856);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
}
.stats h2{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    z-index: 99;
    display: block;
    margin: auto ;
    margin-bottom: 40px;
    width: fit-content;
    
}
.stats .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-inline: 50px;
}
.stats .box{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1000;
    position: relative;
    overflow: hidden;

}
.stats .box::before{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 100%;
    width: 3px;
    left: 0;
    bottom: -100%;
    transition: .3s;
}
.stats .box::after{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 100%;
    width: 3px;
    right: 0;
    top: -100%;
    transition: .8s;
}
.stats .box:hover::before{
    bottom: 0;
}
.stats .box:hover::after{
    top: 0;
}
.stats .box i{
    display: block;
    margin: auto;
    width: fit-content;
}
.stats .box .number{
    font-size: 40px;
    font-weight: bold;
}
.stats .box .text{
    color: var(--main-color);
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
}
@keyframes image-up{
    0%, 100%{
        top:0;
    }
    50%{
        top:-30px
    }
}
@keyframes  up-down{
    0%, 10%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%, 60%{
        transform: translateY(-20px);
    }
}
@keyframes right-move{
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        border-radius: 0;
        width: 50%;
        height: 100%;
        right: 0;
    }
}
@keyframes left-move{
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        border-radius: 0;
        width: 50%;
        height: 100%;
        left: 0;
    }
}
@keyframes arrow-move{
    0%{
        right: 0;
    }
    100%{
        right: -5px;
    }
}
@keyframes gallery-move{
    100%{
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}
/* @keyframes services-move{
    0%{
        left: 0;
        opacity: 0;
    }
    100%{
        left: 50%;
        opacity: 1;
    }
} */